@import url("index.css");
@import url("playerMainPage.css");

@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

section {
    margin: 10%;
}

button#DUO {
	position: relative;
	width: 20vw;
	height: 40vh;
	background-color: cadetblue;
	border-radius: 10px;
	font-family: "Orbitron";
	font-size: xx-large;
	font-weight: bold;
	cursor: pointer;
	transition: transform .2s;
}

#DUO:hover{
	transform: scale(1.5);
}

button#SOLO {
	position: relative;
	width: 20vw;
	height: 40vh;
	background-color: cadetblue;
	border-radius: 10px;
	font-family: "Orbitron";
	font-size: xx-large;
	font-weight: bold;
	cursor: pointer;
	transition: transform .2s;
}

#SOLO:hover{
	transform: scale(1.5);
}

.container {
	display: flex;
	justify-content: space-around;
	width: 80%;
}
