@import url("index.css");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

* {
	font-family: "Orbitron", sans-serif;
}

body {
	background: #111;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
}

.tabs-label {
	padding: 0px 18px;
	margin-bottom: 60px;
	color: var(--gray-color);
	cursor: pointer;
	border: 4px solid #c8f424;
	margin-right: 2vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-content {
	margin-right: 5vw;
	display: flex;
	justify-content: center;
}
.dark-btn {
	background-color: white;
	border: 4px solid #5bab3c;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 50%;
}
.tabs-radio {
	display: none;
}

.tabs-radio:checked + .tabs-label {
	color: var(--main-color);
}

.bx-envelope:before {
	content: "\eac1";
	color: white;
}

.bxs-key:before {
	content: "\edfa";
	color: white;
}

.bxs-user:before {
	content: "\eee1";
	color: white;
}

h1 {
	color: white;
	font-family: "Orbitron", sans-serif;
	font-size: var(--font-size-64);
	font-weight: normal;
	text-align: center;
}

form {
	width: 100%;
}

.input-box {
	display: flex;
	align-items: center;
	gap: 12px;
	width: 100%;
	padding: 16px 24px;
	border: var(--border-style);
	border-radius: 8px;
}

.input-box:not(:last-child) {
	margin-bottom: 24px;
}

.input-box i {
	font-size: 24px;
}

.input-box input {
	width: 100%;
	padding: 4px;
	border: 0;
}

.input-box input::placeholder {
	color: var(--main-color);
}

.error-msg {
	width: 100%;
	margin: -12px 0 12px;
	text-align: center;
	color: #ef476f;
	font-size: var(--font-size-18);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
